.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  .FormTitle {
    text-align: center;
  }

  .FormControl {
    width: 100%;
    margin-top: 20px;
  }

  .ErrorContainer {
    color: #CC0000;
  }
}
