.InputContainer {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .Input {
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    border: 1px solid #343A40;
    border-radius: 5px;

    &:focus {
      outline: none;
    }
  }

  .Label {
    font-size: 20px;
    margin-right: 20px;
  }

  .Input.WithLabel {
    width: 80%;
  }
}

